@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito&family=Montserrat:ital,wght@0,400;1,300&family=Raleway&display=swap');
.item {
    width: 90%;
    margin: auto auto 10px;
}
.clear {
    margin: 0 5% 10px;
    font-size: 2.5rem;
}
.notActive {
    display: none;
}
.active {
    display: block;
}
.bottom {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.totalPrice {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
}
.fin{
    outline: none;
    border: 0;
    color: white;
    background-color: black;
    font-weight: 300;
    border-radius: 5px;
    padding: 4px 8px;
}
.fin p{
    font-size: 1rem;
    margin: auto
}
.fin:hover {
    cursor: pointer;
    background-color: #252525;
    transition: .2s;
}
.vacio {
    margin: auto;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
}
.vacio a {
    color: rgb(57, 17, 236);
    font-weight: normal;
    text-decoration: none;
}