@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito&family=Montserrat:ital,wght@0,400;1,300&family=Raleway&display=swap');
.container-cart {
    background-color: #f1f1f1;
    padding-bottom: 30px;
    margin: 0 auto 0 auto;
    width: 90%;
}
.container-form {
    width: 90%;
    margin: 20px auto 20px auto ;
    font-size: 'Nunito', sans-serif;
}
.card.item img {
    width: 15%;
    display: inline-block;
}
.form {
    display: flex;
    justify-content: space-between;
}
.eachGroup {
    flex: 1;
    margin: 0 5px 0px 5px;
}
.item-body {
    display: flex;
    justify-content: space-between;
}
.card.item {
    width: 90%;
    margin: auto auto 10px;;
    display: flex;
    flex-direction: row;
}
.title {
    display: block;
    margin-left: 5%;
    margin-bottom: 20px;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}
.clear {
    margin: 0 5% 10px;
    font-size: 2.5rem;
}
.clear:hover {
    color: rgb(129, 112, 112);
    transition: .3s;
    cursor: pointer;
}
.delete {
    font-size: 2rem;
    margin: 'auto'
}
.delete:hover {
    color: rgb(129, 67, 67);
    transition: .3s;
    cursor: pointer;
}
.notActive {
    display: none;
}
.active {
    display: block;
}
.bottom {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.totalPrice {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
}
.fin{
    outline: none;
    border: 0;
    color: white;
    background-color: black;
    font-weight: 300;
    border-radius: 5px;
    padding: 4px 8px;
}
.fin p{
    font-size: 1rem;
    margin: auto
}
.fin:hover {
    cursor: pointer;
    background-color: #252525;
    transition: .2s;
}
.vacio {
    margin: auto;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
}
.vacio a {
    color: rgb(57, 17, 236);
    font-weight: normal;
    text-decoration: none;
}