@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito&family=Montserrat:ital,wght@0,400;1,300&family=Raleway&display=swap');
.swal-modal {
    padding-bottom: 30px;
    text-align: center;
}
.detalle-art {
    width: 90%;
    margin: 0 auto 0 auto;
    background-color: #f1f1f1;
}
.detalle-art article {
    box-shadow: 0 0 0 0 2px #14141425;
    padding: 10px 10px 10px 20px;
}
.detalle-art article .nombre-art {
    font-family: 'Bebas Neue', cursive;
    font-size: 3.5rem;
    margin-top: 10px;
}
.detalle-art article .precio {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}
.addCart {
    border-radius: 5px;
    background-color: #c2b29d86;
    outline: none;
    border: 0 solid black;
    color: black;
    padding: 6px;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}
.addCart:hover {
    background-color: #d3c8bb86;
    transition: .5s;
    cursor:pointer;
}
.descripcion {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    line-height: 147%;
    font-weight: 400;
}
.goCart{
    outline: none;
    border: 0;
    color: white;
    background-color: black;
    font-weight: 300;
    border-radius: 5px;
    padding: 4px 8px;
}
.goCart p{
    font-size: 1rem;
    margin: auto
}
.goCart:hover {
    cursor: pointer;
    background-color: #252525;
    transition: .2s;
}
.goBack {
    font-size: 2.5rem;
    margin-left: 90%;
    color: black;
    margin-top: 20px;
    transition: .3s;
}
.goBack:hover {
    cursor: pointer;
    transition: .3s;
    transform: rotate(180deg);
}