.contenedor-contador {
    width: 250px;
    padding: 10px;
    border: 1px solid #9b9b9b33;
    border-radius: 10px;
    margin:auto;
    background-color: #dfdfdf1f;
}
.contenedor-contador .nombre-contador {
    font-size: 18px;
    font-weight: 400;
}
.contenedor-contador .contador {
    display: flex;
    justify-content: space-between;
}
.contenedor-contador .contador button {
    border: 1px solid #c2b29d;
    background-color: #ffffff;
    border-radius: 10px;
    font-weight: 900;
    flex: 1;
    margin: 3px;
    font-size: 15px;
}
.contenedor-contador .contador button:hover {
    border: 1px solid #c2b29d;
    cursor: pointer;
    background-color: #f0f0f038;
}
.contenedor-contador .contador p {
    border-radius: 10px;
    padding: 5px;
    font-size: 15px; 
    flex: 2;
    font-weight: 900;
    text-align: center;
}
.contenedor-ItemList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}