@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}
.contenedor-contador {
    margin: 10px 5px 10px 5px;
    display: flex;
}
.contenedor-contador .contador {
    border: 1px solid #c2b29d;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.contenedor-contador .contador .btn {
    background-color: white;
    outline: 0;
    border: 0;
    font-weight: 900;
    flex: 1;
    margin: 3px;
    font-size: 15px;
}
.contenedor-contador .contador .btn:hover {
    cursor: pointer;
    background-color: #f0f0f038;
}
.contenedor-contador .contador p {
    border-radius: 10px;
    padding: 5px 8px;
    font-size: 14px; 
    flex: 1;
    font-weight: 900;
    text-align: center;
    margin: auto;
}
.addCart {
    outline: none;
    border: 0;
    background-color: #c2b29d;
    color: black;
    font-weight: 300;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 4px 8px;
}
.addCart p {
    margin: auto;
}
.addCart:hover {
    cursor: pointer;
    background-color: #c2b29d86;
    transition: .2s;
}