.boton-carrito {
    border: 2px solid none;
    background-color: white;
    font-size: 15px;
    padding: 4px;
    border-radius: 10px;
}
.boton-carrito:hover {
    border: 2px solid #c2b29d;
    cursor: pointer;
}