@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.contenedor-header {
    background-color: #ffffff;
    width: 100%;
    box-shadow: 1px 12px 20px -20px rgb(0 0 0 / 75%);
    font-family: 'Nunito', sans-serif;
}
.header-nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.menu ul li {
    font-weight: 600;
    padding: 12px;
    margin:  0 10px;
    border-radius: 10px;
}
.menu ul li:hover {
    background-color: #c2b29d4f;
    transition: .3s;
}
.header-nav a {
    text-decoration: none;
    color: black;
}


