.carrito p {
    font-size: 1.1rem;
    color: black;
    display: inline;
    margin-left: 8px;
    margin-top: -15px;
    font-family: 'Nunito', sans-serif;
}
.boton-carrito {
    border: 1px solid black;
    background-color: white;
    font-size: 15px;
    padding: 4px;
    border-radius: 10px;
}
.boton-carrito:hover {
    box-shadow: 0 0 0 2px #0000001f;
    cursor: pointer;
    transition: .2s;
}