@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito&family=Montserrat:ital,wght@0,400;1,300&family=Raleway&display=swap');
* {
    font-family: 'Nunito', sans-serif;
}
.loading {
    text-align: center;
    margin: auto;
    display: block;
    font-family: 'Bebas Neue', cursive;
}
 .contenedor-ItemList {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.forAdd {
    font-size: 1.3rem;
    display: flex;
    margin-top: 10px;
}
.forAdd .child {
    margin-right: 5px;
    color: #46413a;
}
.title-list {
    font-size: 4.5rem;
    font-family: 'Bebas Neue', cursive;
    margin: 15px 0 15px 5%;
} 
h2 {
    font-family: 'Bebas Neue', cursive;
}
h4 {
    font-size: 1.2rem;
    font-weight: 500;
}
.detalle {
    outline: none;
    border: 0;
    background-color: #c2b29d;
    color: black;
    font-weight: 300;
    font-size: 1rem;
    border-radius: 5px;
    padding: 4px;
}
.detalle:hover {
    cursor: pointer;
    background-color: #c2b29d86;
    transition: .2s;
}
.contenedor-item {
    margin-bottom: 15px;
}